.container-eventos {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-eventos > p {
    width: 80%;
    max-width: 1400px;
}

#carousel-eventos {
    margin-inline: 5%;
    width: 80vw;
    margin-top: 100px;
}

.eventContent {
    background-color: #e4e5ff;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: scroll;
    width: 95vw;
    min-width: 370px;
    max-width: 1000px;
    padding: 0;
    padding: 50px 0 50px 0;

    margin: auto;
}

.event-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.pinguim-container {
    min-width: 300px;
    max-width: 1000px; 
}

.eventContent::-webkit-scrollbar {
    width: 13px;

}

.eventContent::-webkit-scrollbar-thumb {
    background-color: #b3b5f3;
    border-radius: 5px;
}

.tittle {
    font-size: 37px;
    font-weight: bold;
    color: #0108f8;
}

.aling-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

    section {
        margin-bottom: 40px;
    }
}

.square {
    margin-right: 5px;
    width: 24%;
    height: 200px;
    background-color: #d9d9d9;
    margin-bottom: 50px;
}

@media screen and (max-width: 460px){
    .container-eventos {
        & p {
            text-align: center;
        }
    }
}