.eventContent{
    background-color: #e4e5ff;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: scroll;
}

.eventContent::-webkit-scrollbar {
    width: 13px;
 
}

.eventContent::-webkit-scrollbar-thumb {
    background-color: #cbcdff; 
    border-radius: 5px; 
}

.title{
    font-size: 37px;
    font-weight: bold;
    color: #0108f8;
}
.aling-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    
    section{
        margin-bottom: 40px;
    }
}