body {
  font-family: 'Roboto', sans-serif;

}

.mapadocampus {
  margin-top: 2rem;
}

#title-map {
  /*borda para se guiar*/
  /* border: 1px solid red; */
  text-align: center;
  color: #0108f8;
}

#title-map h2 {
  font-size: 2rem;
  /*1 rem = 16px*/
  font-weight: 740;
}

#mapa {
  /*# nome referencia ou . para classname{ */
  border: 2px solid rgb(150, 150, 150);
  width: 650px;
  height: 550px;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.39)  ;
}

.content {
  display: flex;
  justify-content: center;
}

.eletivas .content p {
  width: 90%;
  text-align: justify;
}

.eletivas #title-eletiva h2 {
  text-align: center;
  color: #0108f8;
  margin-bottom: 2rem;
  font-weight: 710;
  font-size: 2.1rem;
}

.eletivas {
  margin-top: 7rem;

}

.maisinformacoes {
  display: flex;
  gap: 23px;
  justify-content: center;
  margin-top: 5rem;

}

.intercambioiniciacao {
  display: flex;
  margin-top: 9rem;
  margin-bottom: 8rem;
}

/* propriedades iguais para ambos os elementos */
.intercambio,
.iniciacao {
  width: 60%;
  min-width: 360px;
  text-align: center;
}

.intercambioiniciacao article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  gap: 4rem;
  /* background-color: #0108f8; */
}

.title-iniciacao,
.title-intercambio {
  margin-bottom: 3.2rem;
}

#aviao {
  position: relative;
  z-index: -10;
  min-width: 320px;
  width: 80% !important;
  /* left: 800px; */
}

.intercambioiniciacao aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.title-intercambio h2 {
  color: #0108f8;
  font-weight: 740;
}

.title-iniciacao h2 {
  color: #0108f8;
  font-weight: 740;
}
  
@media (max-width: 768px) {
  #bigcard .cardtitle h1 {
    font-size: 1.5rem;
  }

  #bigcard .text-area {
    font-size: 0.8rem;
  }

  .maisinformacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intercambioiniciacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intercambioiniciacao aside {
    display: flex;
    justify-content: center;
  }

  #aviao{
    display: none;
  }
  
  .title-intercambio h2{
    font-size: 2.1rem;
    justify-content: center;
  }

  .title-iniciacao h2 {
    font-size: 2.1rem;
    /* width: 110%; */
  }

  .iniciacao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mapa {
    width: 380px;
    height: 280px;
    margin-top: 2rem;
  }
  
}


/* @media (max-width: 768px) {
  #title-map h2, .eletivas #title-eletiva h2, .title-intercambio h2, .title-iniciacao h2 {
    font-size: 2rem;
  }
  
  .eletivas .content p {
    width: 90%;
  }

  .maisinformacoes {
    flex-direction: column; 
  }

  .intercambioiniciacao article {
    width: 90%;
  }
} */


