@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0108F8;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: Roboto;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0108F8;
  }
  
  .button:active {
    background-color: #0108F8;
    transform: translateY(2px);
  }

  .button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0108F8;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: Roboto;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0108F8;
  }
  
  .button:active {
    background-color: #0108F8;
    transform: translateY(2px);
  }
  
  