#button {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  transition: .4s;
}

.button1 {
  background-color: #E4E5FF;
  border: 1px solid #0108F8;
  color: #0108F8;
}

.button1:hover {
  background-color: #0108F8;
  border: 1px solid #0108F8;
  color: #ffffff;
}

.button2 {
  background-color: #0108F8;
  color: #fff;
  border: 1px solid #0108F8;
}

.button2:hover {
  background-color: #E4E5FF;
  color: #0108F8;
  border: 1px solid #0108F8;
}