@media screen and (min-width: 1280px) {
    .navigationHome nav ul li a, .navigationGeneric nav ul li a{
        font-size: 1.1rem;
    }

    .navigationHome nav ul, .navigationGeneric nav ul {
        gap: 2rem;
    }

    .navigationHome nav ul, .navigationHome nav {
        margin-left: 5rem;
    }

    .navigationGeneric nav ul, .navigationGeneric nav {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1480px) {
    .navigationHome, .navigationGeneric {
        width: 75%;
    }

    .navigationHome nav ul, .navigationGeneric nav ul {
        gap: 2.5rem;
    }
    .navigationHome nav ul li a, .navigationGeneric nav ul li a{
        font-size: 1.2rem;
    }

    .navigationHome nav ul, .navigationHome nav {
        margin-left: 5.5rem;
    }

    .navigationGeneric nav ul, .navigationGeneric nav {
        margin-left: 5.5rem;
    }
}

@media screen and (min-width: 1600px) {
    .navigationHome nav ul, .navigationHome nav {
        margin-left: 7rem;
    }

    .navigationGeneric nav ul, .navigationGeneric nav {
        margin-left: 7rem;
    }
}