* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.menu {
    margin: auto;
    width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 8rem;
}

.logoArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.navigationHome, .navigationGeneric {
    width: 60%;
}

.navigationHome nav ul, .navigationHome nav {
    height: 100%;
}

.navigationGeneric nav ul, .navigationGeneric nav {
    height: 80%;
}

.navigationHome nav ul, .navigationGeneric nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navigationHome nav ul li, .navigationGeneric nav ul li {
    list-style: none;
}

.navigationHome nav ul li a, .navigationGeneric nav ul li a{
    text-decoration: none;
}