.menu {
    margin: auto;
    min-width: 1024px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 8rem;
}

.logoArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#logoCDI {
    width: calc(100vw*.08);
    min-width: calc(1024px*.08);
    max-width: calc(1200px*.08);
}

.navigationHome, .navigationGeneric {
    width: 80%;
}

.navigationHome nav ul, .navigationHome nav {
    height: 100%;
}

.navigationGeneric nav ul, .navigationGeneric nav {
    height: 100%;
}

.navigationHome nav ul, .navigationGeneric nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navigationHome nav ul li, .navigationGeneric nav ul li {
    list-style: none;
}

.navigationHome nav ul li a, .navigationGeneric nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.05rem;
}
