@media screen and (max-width: 1000px) {
    #cdi {
        margin-top: 80px;
    }

    .imagem-curso {
        display: none;
    }

    .conteudo-curso {
        width: 100%;
    }

    #tads .curso_texto > h2 {
        min-width: inherit;
    }

    #tads, #bsi {
        padding: 40px;
    }
}

@media screen and (max-width: 600px) {
    #bsi, #tads {
        padding: 40px 0px;
        width: 90vw;
    }
}

@media screen and (min-width: 1800px) {
    #tads .curso_texto > h2 {
        min-width: 800px;
    }
}