.textBody {
    div {
        font-size: 14px;
        margin-top: -5px;
    }
}

.circleImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}
