
/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* Estilos da home */

.homeBackground {
    background: url('../../assets/background1.png') no-repeat top center;
    height: 51rem;
    width: 1440px;
    margin: auto;
}

.homeContentArea {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.homeContentArea h1, .genericContentArea h1 {
    font-size: 4.375rem;
}

.homeContentArea h2, .genericContentArea h2 {
    font-size: 1.875rem;
}
.homeContentArea h3, .genericContentArea h3 {
    font-size: 1.25rem;
    margin-bottom: .8rem;
}

/* Estilos genericos */

.genericBackground {
    background: url('../../assets/background2.png') no-repeat top center;
    width: 1440px;
    height: 35rem;
    margin: auto;
}

.hidden {
    display: none;
}

.alignCenter {
    margin-top: 1rem;
    text-align: center;
}