.img-wrapper {
    max-width: 300px;
    height: 300px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner {
    display: flex;
    padding: 1em;
}

.carousel-item {
    width: 300px;
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/4);
}

.card {
    width: 300px;
    height: 300px;
    margin: 0 .5em;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(26, 26, 26, .40);
}

.carousel-control-prev,
.carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #afafaf;
    border-radius: 25%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}