#bandeco {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    /* justify-content: center; */
}

#bandeco > .title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    font-family: 'Roboto', sans-serif;
    color: #0108F8;
}

#bandeco > .title h1, #bandeco > .title h2{
    font-weight: 600;
}

#bandeco > .content {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#bandeco > .content .horarios {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #E4E5FF;
    border-radius: 10px;
    width: 80vw;
    max-width: 60rem;
    min-width: 50rem;
    height: 15rem;
    position: relative;
    padding: 30px 60px;
    justify-content: space-between;
}

.bandeco-box {
    background-color: white;
    border: 1px solid #0108F8;
    border-radius: 20px;
    padding: 20px 20px;
    width: 33%;
    min-width: 200px;
    max-width: 250px;
}

#bandeco .horarios h3 {
    font-family: 'Roboto', sans-serif;
    color: #0108F8;
    margin-bottom: 1rem;
    font-size: 1rem;
}

#bandeco .horarios p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2rem;
}

#bandeco #penguin{
    width: 200px;
    position: absolute;
    top: -152px;
    right: 60px;
}

#intercampi {
    height: 50vh;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#intercampi > article {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#intercampi > article > h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #0108F8;
}

#intercampi > article > p {
    text-align: justify;
    width: 60%;
}

#more {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container {
    margin: auto;
    margin-top: 3rem;
    background-color: rgb(197, 197, 197);
    width: 60%;
    max-width: 750px;
    height: 400px;
}