.avatarHome{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatarHome img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
}

.avatarHome p {
    margin-top: 20px;
    text-align: center;
}