:root{
    --text-color: #000;
    --text-blue: #0108F8;
    --background-color: #fff;
}

.cardProfessores{
    margin: 5rem 15%;
    padding: 0;
    display: flex;
    background-color: var(--background-color);
    height: 150px;
}

.cardProfessores_txt{
    padding: 10px 30px;
    width: 100%;
}

.cardProfessores_txt h1{
    color: var(--text-blue);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0px 20px 0px;
}

.cardProfessores_txt p, .cardProfessores a:active, .cardProfessores a:visited, .cardProfessores a:link{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}

.cardProfessores a:hover{
    color: var(--text-blue);
}

@media (max-width: 599px) {
    .cardProfessores{
        display: block;
        height: auto;
    }
    .cardProfessores_txt h1{
        font-size: 1rem;
        max-height: 75px; 
        overflow: hidden; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
    }     
    .cardProfessores_txt p, .cardProfessores a:active, .cardProfessores a:visited, .cardProfessores a:link{
        font-size: 0.8rem ;
    }
    .cardProfessores_txt a {
        max-height: 15px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }    
    .cardProfessores_txt{
        padding: 25px 30px !important;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .cardProfessores_txt h1{
        font-size: 1.3rem;
        max-height: 24px; 
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        display: -webkit-box;
    }    
    .cardProfessores_txt p, .cardProfessores a:active, .cardProfessores a:visited, .cardProfessores a:link{
        font-size: 0.9rem ;
    }
    .cardProfessores_txt p{
        max-height: 65px;
        overflow: hidden;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
    }
    .cardProfessores_txt a{
        max-height: 15px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }
}

/* Media para Desktop */
@media (min-width: 1000px){
    .cardProfessores_txt h1{
        font-size: 1.3rem;
    } 
    .cardProfessores_txt p, .cardProfessores a:active, .cardProfessores a:visited, .cardProfessores a:link{
        font-size: 1rem ;
    }
}